/* Enregistrement de la police d'écriture */
@font-face {
    font-family: "Raleway";
    src: url("../Font/Raleway/Raleway-Thin.ttf") format('truetype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Raleway";
    src: url("../Font/Raleway/Raleway-ExtraLight.ttf") format('truetype');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Raleway";
    src: url("../Font/Raleway/Raleway-Light.ttf") format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Raleway";
    src: url("../Font/Raleway/Raleway-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Raleway";
    src: url("../Font/Raleway/Raleway-Medium.ttf") format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Raleway";
    src: url("../Font/Raleway/Raleway-SemiBold.ttf") format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Raleway";
    src: url("../Font/Raleway/Raleway-Bold.ttf") format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Raleway";
    src: url("../Font/Raleway/Raleway-ExtraBold.ttf") format('truetype');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: "Raleway";
    src: url("../Font/Raleway/Raleway-Black.ttf") format('truetype');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Raleway";
    src: url("../Font/Raleway/Raleway-ThinItalic.ttf") format('truetype');
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "Raleway";
    src: url("../Font/Raleway/Raleway-ExtraLightItalic.ttf") format('truetype');
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Raleway";
    src: url("../Font/Raleway/Raleway-LightItalic.ttf") format('truetype');
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Raleway";
    src: url("../Font/Raleway/Raleway-Italic.ttf") format('truetype');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Raleway";
    src: url("../Font/Raleway/Raleway-MediumItalic.ttf") format('truetype');
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Raleway";
    src: url("../Font/Raleway/Raleway-SemiBoldItalic.ttf") format('truetype');
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Raleway";
    src: url("../Font/Raleway/Raleway-BoldItalic.ttf") format('truetype');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Raleway";
    src: url("../Font/Raleway/Raleway-ExtraBoldItalic.ttf") format('truetype');
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: "Raleway";
    src: url("../Font/Raleway/Raleway-BlackItalic.ttf") format('truetype');
    font-style: italic;
    font-weight: 900;
}

/* Enregistrement de variables */
:root {
    --clr-primary: #0065FC;
    --clr-secondary: #DEEBFF;
    --clr-background: #F2F2F2;
    --clr-stars: #DBDBDB;
    --clr-black: #000000;
    --clr-white: #FFFFFF;
}

/* Définition des propriétés globale */
* {
    font-family: 'Raleway', 'Arial', 'Sans-Serif';
    text-decoration: none;
    list-style-type: none;
    color: var(--clr-black);
}

body {
    margin: 0;
}

.spacing {
    padding: 20px;
}

.background {
    background-color: var(--clr-background);
}

h2 {
    flex: 0 0 100%;
    height: max-content;
}

/* Notation hébergements */
.fa-star {
    color: var(--clr-stars);
}

.score-1 i:first-of-type {
    color: var(--clr-primary);
}

.score-2 i:nth-child(n+1):nth-child(-n+2) {
    color: var(--clr-primary);
}

.score-3 i:nth-child(n+1):nth-child(-n+3) {
    color: var(--clr-primary);
}

.score-4 i:nth-child(n+1):nth-child(-n+4) {
    color: var(--clr-primary);
}

.score-5 i {
    color: var(--clr-primary);
}

/******************************* 
*    STYLISATION DE LA PAGE    *
*******************************/

/*
    HEADER
*/

#navigation {
    position: relative;
}

/* Logo */
#brand {
    margin: 20px;
}

#brand > img {
    margin-top: 24px;
    margin-bottom: 10px;
}

/* Boutons de navigation */
#navigation > nav {
    display: flex;
    margin-top: 7px;
}

.navigation-button {
    font-weight: 500;
    text-align: center;
    width: 50%;
    padding: 10px;
    border: solid var(--clr-background);
    border-width: 0 0 3px 0;
    transition: 0.2s ease-in-out;
}

.selected {
    color: var(--clr-primary);
    border-color: var(--clr-primary) !important;
}

.navigation-button:not(.selected):hover {
    color: var(--clr-primary);
    border-color: var(--clr-primary);
}

#signup {
    color: var(--clr-primary);
    font-weight: 700;
    position: absolute;
    top: 40px;
    right: 24px;
}

/* Menu de recherche */
#search-menu {
    padding-top: 0;
}

h1 {
    font-weight: 700;
}

/* Boite de recherche */
#searchbox {
    margin-top: 30px;
    border: 1px solid var(--clr-background);
    display: flex;
    border-radius: 15px;
    overflow: hidden;
}

#searchbox > i {
    margin: 0;
    padding: 18px;
    background-color: var(--clr-background);
}

#searchbox > input {
    padding-left: 20px;
    width: 100%;
    border: none;
    outline: 0;
    font-weight: 700;
}

#searchbox > input::placeholder {
    font-weight: 700;
}

#searchbox > button {
    margin-left: auto;
    padding: 18px;
    color: var(--clr-white);
    font-size: 0;
    background-color: var(--clr-primary);
    border-radius: 13px;
    border: none;
    cursor: pointer;
}

#searchbox > button > i {
    display: block;
    font-size: initial;
    color: var(--clr-white);
}

/* Filtres de recherche */
#filters {
    margin-top: 1.2em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

#filters > h2 {
    margin-bottom: 0;
}

.filters-button {
    border: 2px solid var(--clr-background);
    width: max-content;
    border-radius: 26px;
    display: flex;

    position: relative;
    transition: transform 0.2s ease-in-out;
}

.filters-button:hover {
    transform: scale(1.1);
}

.filters-button::after {
    content: '';

    /*
        Peut être remplacé par la propriété inset
        https://developer.mozilla.org/fr/docs/Web/CSS/inset
    */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    position: absolute;
    border-radius: 26px;
    box-shadow: 0 0 4px 4px var(--clr-primary);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.filters-button:hover::after {
    opacity: 0.5;
}

.filters-button > * {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.filters-button > i {
    height: 3em;
    width: 3em;
    min-width: 3em;
    background-color: var(--clr-secondary);
    color: var(--clr-primary);
    border-radius: 100%;
}

.filters-button > span {
    padding: 10px;
    width: 100%;
    font-weight: 700;
    color: var(--clr-black);
}

/* Informations sur la ville */
#informations {
    margin-top: 2em;
    display: flex;
}

#informations > i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5em;
    width: 1.5em;
    min-width: 1.5em;
    color: var(--clr-primary);
    border: 2px solid var(--clr-background);
    border-radius: 100%;
}

#informations > span {
    margin-top: 4px;
    margin-left: 12px;
}

/* Les plus populaire */
#popular {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    position: relative;
}

#popular > i {
    position: absolute;
    top: 1.2em;
    right: 0.8em;
}

#popular-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    width: 100%;
    justify-content: space-evenly;
}

#popular-list > .card {
    display: flex;
}

#popular-list > .card img {
    height: 30vw;
    width: 30vw;
    border-radius: 22px 0 0 22px;
}

#popular-list > .card > .card-body {
    position: relative;
}

#popular-list > .card > .card-body > div {
    position: absolute;
    bottom: 10px;
}

/* Hébergements */
#accommodations {
    display: flex;
    flex-wrap: wrap;
}

#accommodations > p {
    flex: 0 0 100%;
}

#accommodations-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    width: 100%;
    justify-content: space-evenly;
}

#accommodations-list > .card img {
    border-radius: 22px 22px 0 0;
}

#accommodations-list > .card > .card-body {
    padding-bottom: 24px;
    line-height: 0.4em;
    position: relative;
}

#accommodations-list > .card > .card-body > div {
    position: absolute;
    bottom: 10px;
}

#more-accommodations {
    margin-top: 2.4em;
    font-weight: 700;
    font-size: 1.2em;
    transition: 0.2s ease-in-out;
}

#more-accommodations:hover {
    color: var(--clr-primary);
}

/* Activités à Marseille */
#activities {
    display: flex;
    flex-wrap: wrap;
}

#activities-list {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 1.8em;
    width: 100%;
    justify-content: space-between;
}

/* Cartes */
.card {
    background-color: var(--clr-white);
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 8px 1px hsl(0 0% 90%);
}

#popular-list > .card,
#accommodations-list > .card {
    padding: 4px;
    padding-bottom: 0;
    box-shadow: 0 0 8px 1px hsl(0 0% 80%);
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 30vw;
}

.card-body {
    margin-left: 16px;
    line-height: 0.8em;
    position: relative;
}

.card-title {
    font-weight: 600;
}

.card-description::after {
    content: '€';
    font-weight: 600;
}

/*
    FOOTER
*/
footer {
    margin-top: 1.2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer > * {
    flex-basis: 100%;
}

footer > div > p {
    font-weight: 700;
    margin-bottom: 0;
}

footer > div > ul {
    line-height: 1.6em;
    padding: 0;
}

footer > div > ul > li > a {
    transition: 0.2s ease-in-out;
}

footer > div > ul > li > a:hover {
    color: var(--clr-primary);
}


/**************\
    TABLETTE
\**************/
@media screen and (min-width: 768px) and (max-width: 1439px) {

    /* Les plus populaire */
    #popular-list > .card {
        width: 60%;
    }

    #popular-list > .card img {
        width: 24vw;
        height: 24vw;
    }

    /* Hébergements */
    #accommodations-list > * {
        width: 47%;
    }

    #accommodations-list .card img {
        height: 20vw;
    }

    /* Activités à Marseille */
    #activities-list > * {
        width: 48%;
    }

    /* Cartes */
    .card img {
        height: 16vw;
    }

    /* Footer */
    footer > * {
        flex-basis: 33%;
    }
}

/****************\
    ORDINATEUR
\****************/
@media screen and (min-width: 1440px) {

    /* Espacement global */
    .spacing {
        padding: 3em;
    }

    /* 
        HEADER - Ordinateur
    */

    /* Logo */
    #brand {
        margin: 3em;
    }

    #brand > img {
        margin-top: 3em;
        margin-bottom: 0;
    }

    /* Boutons de navigation */
    #navigation > nav {
        float: right;
        justify-content: flex-end;
        width: 40%;
        margin: 0 3em 0 0;
    }

    #navigation > nav > * {
        padding-top: 3em;
        width: 25%;
        text-align: center;
    }

    .navigation-button {
        border-width: 3px 0 0 0;
        border-color: transparent;
    }
    
    #signup {
        position: initial;
        margin-top: 3px;
    }

    /* Boite de recherche */
    #searchbox {
        display: inline-flex;
    }

    #searchbox > button {
        font-size: initial;
        font-weight: 600;
        border-radius: 0 13px 13px 0;
    }

    #searchbox > button > i {
        display: none;
    }

    /* Filtres de recherche */
    #filters > h2 {
        flex-basis: auto;
    }

    .filters-button {
        margin-top: 0.6em;
    }

    /* 
        BODY - Ordinateur
    */

    /* Les plus populaires / Hébergements */
    #popular, #accommodations {
        height: 36vw;
    }

    /* Les plus populaire */
    #popular {
        margin-top: 0;
    }

    #popular > i {
        position: absolute;
        top: 2.1em;
        right: 1.6em;
    }

    #popular {
        border-radius: 25px;
        margin-right: 50px;
        width: 25vw;
        float: right;
    }

    #popular-list .card img {
        width: 9vw;
        height: 9vw;
    }

    #popular-list .card {
        margin-bottom: auto;
    }

    /* Hébergements */
    #accommodations {
        width: 50vw;
        margin-left: 50px;
        border-radius: 25px;
        background-color: var(--clr-background);
    }

    #accommodations-list > * {
        flex-basis: 30%;
        height: 12vw;
        position: relative;
    }

    #accommodations-list > .card img {
        height: 8vw;
    }

    #accommodations-list > .card > .card-body {
        position: absolute;
        padding-left: 16px;
        bottom: 0;
        background-color: white;
        width: 100%;
        margin: 0;
    }
    
    /* Activités à Marseille */
    #activities-list {
        flex-direction: column;
        max-height: 28vw;
    }

    #activities-list > * {
        width: calc(25% - 1.5em);
    }

    #activities-list > .card {
        height: 100%;
        position: relative;
    }

    #activities-list > .card img {
        height: 100%;
        border-radius: 0 0 26px 26px;
    }

    #activities-list > .card:nth-child(2) {
        height: calc(58% - 1.8em);
    }

    #activities-list > .card:nth-child(3) {
        height: calc(46% - 1.8em + 1px);
    }


    #activities-list > .card:nth-child(5),
    #activities-list > .card:nth-child(6) {
        height: calc(52% - 1.8em + 1px);
    }

    #activities-list > .card > .card-body {
        height: 4em;
        position: absolute;
        bottom: 0;
        background-color: white;
        width: 100%;
        margin: 0;
    }

    #activities-list > .card > .card-body > .card-title {
        margin-left: 16px;
        margin-top: 1.6em;
    }

    /* Footer */
    footer > * {
        flex-basis: 33%;
    }
}