@font-face {
    font-family: "Raleway";
    src: url("/Font/Raleway/Raleway-Thin.ttf") format('truetype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Raleway";
    src: url("/Font/Raleway/Raleway-ExtraLight.ttf") format('truetype');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Raleway";
    src: url("/Font/Raleway/Raleway-Light.ttf") format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Raleway";
    src: url("/Font/Raleway/Raleway-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Raleway";
    src: url("/Font/Raleway/Raleway-Medium.ttf") format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Raleway";
    src: url("/Font/Raleway/Raleway-SemiBold.ttf") format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Raleway";
    src: url("/Font/Raleway/Raleway-Bold.ttf") format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Raleway";
    src: url("/Font/Raleway/Raleway-ExtraBold.ttf") format('truetype');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: "Raleway";
    src: url("/Font/Raleway/Raleway-Black.ttf") format('truetype');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Raleway";
    src: url("/Font/Raleway/Raleway-ThinItalic.ttf") format('truetype');
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "Raleway";
    src: url("/Font/Raleway/Raleway-ExtraLightItalic.ttf") format('truetype');
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Raleway";
    src: url("/Font/Raleway/Raleway-LightItalic.ttf") format('truetype');
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Raleway";
    src: url("/Font/Raleway/Raleway-Italic.ttf") format('truetype');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Raleway";
    src: url("/Font/Raleway/Raleway-MediumItalic.ttf") format('truetype');
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Raleway";
    src: url("/Font/Raleway/Raleway-SemiBoldItalic.ttf") format('truetype');
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Raleway";
    src: url("/Font/Raleway/Raleway-BoldItalic.ttf") format('truetype');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Raleway";
    src: url("/Font/Raleway/Raleway-ExtraBoldItalic.ttf") format('truetype');
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: "Raleway";
    src: url("/Font/Raleway/Raleway-BlackItalic.ttf") format('truetype');
    font-style: italic;
    font-weight: 900;
}

/* VARIABLES COULEUR */
:root {
    --primary-color: #0065FC;
    --secondary-color: #DEEBFF;
    --background-color: #F2F2F2;
    --stars-color: #DBDBDB;
    --black-color: #000000;
    --white-color: #FFFFFF;
}

body {
    font-family: 'Raleway', 'Arial', 'Sans-Serif';
    margin: 0px;
}

.spacing {
    padding: 20px;
}

.background {
    background-color: var(--background-color);
}

/* SCORE */
.fa-star {
    color: var(--stars-color);
}

.score-1 i:first-of-type {
    color: var(--primary-color);
}

.score-2 i:nth-child(n+1):nth-child(-n+2) {
    color: var(--primary-color);
}

.score-3 i:nth-child(n+1):nth-child(-n+3) {
    color: var(--primary-color);
}

.score-4 i:nth-child(n+1):nth-child(-n+4) {
    color: var(--primary-color);
}

.score-5 i {
    color: var(--primary-color);
}

#navigation {
    position: relative;
}

/* LOGO */
#brand {
    margin: 20px;
}

#brand img {
    margin-top: 24px;
    margin-bottom: 10px;
}

/* BOUTONS DE NAVIGATION */
#navigation nav a {
    text-decoration: none;
}

#navigation nav {
    display: flex;
    margin-top: 7px;
}

#signup {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 700;
    position: absolute;
    top: 40px;
    right: 24px;
}

.navigation-button {
    font-weight: 500;
    color: var(--black-color);
    border-bottom: 3px solid var(--background-color);
    width: 50%;
    text-align: center;
    padding: 10px;
    transition: border-color .2s ease-in-out, color .2s ease-in-out;
}

.selected {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.navigation-button:not(.selected):hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

#search-menu {
    padding-top: 16px;
}

h1 {
    font-weight: 700;
    font-size: 1.4rem;
}


/* BOITE DE RECHERCHE */
#searchbox {
    margin-top: 30px;
    border: 1px solid var(--background-color);
    display: flex;
    border-radius: 15px;
    overflow: hidden;
}

#searchbox > i {
    margin: 0;
    padding: 16px;
    background-color: var(--background-color);
    border-left: 2px solid var(--background-color);
    border-right: 2px solid var(--background-color);
    border-radius: 13px 0px 0px 13px;
}

#searchbox input {
    padding-left: 20px;
    width: 100%;
    border: none;
    outline: 0;
    font-family: 'Raleway', 'Arial', 'Sans-Serif';
    font-weight: 700;
    font-size: 1.2rem;
}

#searchbox input::placeholder {
    font-weight: 700;
}

#searchbox button {
    margin-left: auto;
    border: 2px solid var(--primary-color);
    padding: 16px;
    background-color: var(--primary-color);
    border-radius: 13px;
    color: var(--white-color);
    cursor:pointer;
}

#searchbox button i {
    display: block;
}

#searchbox button p {
    display: none;
}


/* FILTRES DE RECHERCHE */
#search-menu h3 {
    margin-top: 34px;
}

#filters {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 14px;
}

.filters-button {
    border: 1px solid var(--background-color);
    display: flex;
    width: max-content;
    margin-bottom: 12px;
    text-decoration: none;
    border-radius: 20px;
    position: relative;
    transition: transform .2s ease-in-out;
}

.filters-button:hover {
    transform: scale(1.1);
}

.filters-button::after {
    content: '';
    inset: 0;
    position: absolute;
    box-shadow: 0px 0px 4px 4px var(--primary-color);
    border-radius: 20px;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.filters-button:hover::after {
    opacity: 0.5;
}

.filters-button:not(:last-of-type) {
    margin-right: 12px;
}

.filters-button i {
    height: 40px;
    width: 40px;
    min-width: 40px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    border-radius: 100%;
}

.filters-button span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    color: var(--black-color);
    font-weight: 700;
}

/* INFORMATIONS VILLE */
#informations {
    display: flex;
}

#informations i {
    color: var(--primary-color);
    font-size: .6rem;
    height: 20px;
    width: 20px;
    min-width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 2px solid var(--background-color);
}

#informations span {
    padding-top: 4px;
    margin-left: 6px;
}

#popular {
    position: relative;
}

#popular > i {
    position: absolute;
    top: 40px;
    right: 24px;
}

/*  #popular > a:not(last-of-type),
    #accommodations > a:not(last-of-type),
    #activities > a:not(last-of-type)  */
:is(#popular, #accommodations, #activities) > a:not(:last-of-type) {
    margin-bottom: 20px;
}

.card {
    text-decoration: none;
    color: black;
    background-color: var(--white-color);
    min-height: 120px;
    border-radius: 14px;
    padding: 4px;
    display: flex;
    position: relative;
}

.card::before {
    content: '';
    inset: 0;
    position: absolute;
    box-shadow: 0px 0px 8px 1px var(--black-color);
    border-radius: 14px;
    opacity: 0.2;
    transition: opacity .2s ease-in-out;
}

.card:hover::before {
    opacity: 0;
}

.card::after {
    content: '';
    inset: 0;
    position: absolute;
    box-shadow: 0px 0px 4px 4px var(--primary-color);
    border-radius: 14px;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.card:hover::after {
    opacity: .5;
}

#popular .card-img-container {
    position: relative;
    width: 100%;
    padding-bottom: 25%;
}

#popular .card-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px 0px 0px 12px;
}

.card-vertical {
    flex-direction: column;
}

#popular-img-1 {
    background-image: url("/Images/Hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}

#popular-img-2 {
    background-image: url("/Images/Hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
}

#popular-img-3 {
    background-image: url("/Images/Hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}

#popular .card-informations {
    margin-left: 16px;
    width: 140%;
    position: relative;
}

.card-title {
    font-weight: 700;
    font-size: 1rem;
    margin-top: 12px;
    margin-bottom: 0px;
}

.card-prices {
    margin-top: 4px;
    margin-bottom: 60px;
}

.card-prices::after {
    content: "€";
    font-weight: 600;
}

.card-informations > div {
    position: absolute;
    bottom: 6px;
}

#accommodations .card-img-container {
    position: relative;
    width: 100%;
    padding-bottom: 35%;
}

#accommodations .card-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0px 0px;
}

.card-vertical .card-informations {
    margin-left: 4px;
}

.card-vertical .card-prices {
    margin-bottom: 24px;
}

#accommodations-img-1 {
    background-image: url("/Images/Hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

#accommodations-img-2 {
    background-image: url("/Images/Hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

#accommodations-img-3 {
    background-image: url("/Images/Hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

#accommodations-img-4 {
    background-image: url("/Images/Hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

#accommodations-img-5 {
    background-image: url("/Images/Hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

#accommodations-img-6 {
    background-image: url("/Images/Hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

#more-accommodations {
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    color: var(--black-color);
    font-size: 1.1rem;
    font-weight: 700;
    transition: color 0.2s ease-in-out;
}

#more-accommodations:hover {
    color: var(--primary-color);
}

#activities .card {
    padding: 0px;
}

#activities .card::before {
    box-shadow: 0px 4px 8px 1px var(--black-color);
}

#activities .card-img-container {
    position: relative;
    width: 100%;
    padding-bottom: 40%;
}

#activities .card-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0px 0px;
}

#activities .card-informations {
    padding: 10px;
    padding-bottom: 20px;
}

#activities-img-1 {
    background-image: url("/Images/Activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}

#activities-img-2 {
    background-image: url("/Images/Activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}

#activities-img-3 {
    background-image: url("/Images/Activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
}

#activities-img-4 {
    background-image: url("/Images/Activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}

#activities-img-5 {
    background-image: url("/Images/Activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}

#activities-img-6 {
    background-image: url("/Images/Activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}

footer div {
    
    padding-bottom: 20px;
}

footer ul {
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0px;
    margin-bottom: 12px;
}

footer li {
    list-style-type: none;
    line-height: 1.8rem;
}

footer li a {
    color: var(--black-color);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

footer li a:hover {
    color: var(--primary-color);
}

/* SMARTPHONE */
@media screen and (max-width: 767px) {

}

/* TABLETTE */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    body {
        background-color: red;
    }

}

/* DESKTOP */
@media screen and (min-width: 1024px) {

}